* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  overflow: hidden;
}

.cursor {
  width: 16px;
  height: 16px;
  background-image: url('../../assets/pencil.ico');
  background-size: cover;
  position: absolute;
}